html{
	position: relative;

}
body{
	margin-bottom: 120px;
}




.jumbotron img{
	width: 200px;
	
	border: 5px solid #666;

}
 hr{
	width: 250px;
	border-top: 3px solid #999;


}

section{
	min-height: 600px;
}
.portofolio{
	background-color: #eee;
}
.kontak{
	min-height: 800px;
}

footer{
	position: absolute;
	bottom: 0;
	width: 120%;
	height: 100px;
	background-color: #333;
	color: #aaa;
	padding-top: 30px;


}
footer p{
	color: #aaa;
	font-size: 1em;
}
footer i{
	color: salmon;
}